APIKEY=<apikey>
BASEURL=<baseurl>
SENTIMENT_DETECTION_MODEL=BHYCHIK/review-russian-sentiment-detection

LANGFUSE_SECRET_KEY="sk-lf-d05f96df-a5df-4e32-8ea0-7e3cbf56fa93"
LANGFUSE_PUBLIC_KEY="pk-lf-cc520e35-a7d6-4d46-9147-039c86890975"
LANGFUSE_BASE_URL="http://localhost:3000"

SKIP_REVIEW_FIX=true